.sfondo{
    position: fixed;
    top: 0;
    width: 100vw;
    /* max-height: 100vh; */
    margin: 0;
    padding: 0;
}

.b_frame{
    height: 100vh;
    display: flex;
    align-items: center;
    /* mouse-pointer */
}

.banda{
    width: 100%;
    height: 25vh;
    background-color: yellowgreen;
}

.stroke{
  color: black;
  font-size: 10vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellowgreen;
}

.title{
  font-size: 10vw;
}

.blink{
    animation: blink 0.1s infinite;
  }

.blink_text{
    animation: blink_text 0.1s infinite;
  }

.wally{
  width: 100%;
  animation: blink_w 0.1s 30;
  cursor: zoom-in;
}

.b_map{
  animation: blink 0.1s infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l_map{
  width: 300px;
  height: 200px;
}

.map_link{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.gnamo{
  color: black;
  font-size: 90px;
}

@keyframes blink_w{
    50% {
      filter: invert(1);
    }
  }

@keyframes blink{
    0% {
      background: fuchsia;
    }
    20% {
      background: yellowgreen;
    }
    40% {
      background: red;
    }
    60% {
      background: cyan;
    }
    80% {
      background: orange;
    }
    100% {
      background: fuchsia;
    }
  }
  
  @-webkit-keyframes blink{
    0% {
        background: fuchsia;
      }
    20% {
        background: yellowgreen;
      }
    40% {
        background: red;
      }
    60% {
        background: cyan;
      }
    80% {
        background: orange;
      }
    100% {
        background: fuchsia;
      }
  }

@keyframes blink_text{
    0% {
      color: fuchsia;
    }
    20% {
      color: yellowgreen;
    }
    40% {
      color: red;
    }
    60% {
      color: cyan;
    }
    80% {
      color: orange;
    }
    100% {
      color: fuchsia;
    }
  }
  
  @-webkit-keyframes blink_text{
    0% {
        color: fuchsia;
      }
    20% {
        color: yellowgreen;
      }
    40% {
        color: red;
      }
    60% {
        color: cyan;
      }
    80% {
        color: orange;
      }
    100% {
        color: fuchsia;
      }
  }

  @media screen and (max-width: 900px) {



    .main{
        max-width: 92vw;
    }

    .stroke{
      font-size: 15vw;
    }

    .title{
      font-size: 15vw;
    }

    h2{
        font-size: 5.5vw;
    }

    .gnamo{
      font-size: 50px;
    }

}
