@font-face {
    font-family: apple;
    src: url(src/font/HomemadeApple-Regular.ttf);
}
@font-face {
    font-family: sono;
    src: url(src/font/Sono-VariableFont_MONO\,wght.ttf);
}

html, body{
    font-family: Apple;
    color: tan;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* overflow: auto; */
    max-width: 50vw;
    height: auto;
    margin: auto;
    z-index: 100;
}

.cover{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
}

.title{
    padding: 2.5vh;
    grid-area: cover;
    /* font-family: ippocampo; */
    font-size: 90px;
    margin: 0 0;
    position: relative;
    text-align: center;
    /* top: -150px; */
}

h1, h2, h3, h4, h5{
    font-weight: 400;
}

h3,ul{
    align-self: flex-start;
    margin:  5px 20px;
}

ul{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: Indigo;
}

a:hover{
    text-decoration: none;
    color: lightblue;
}

.descrizione{
    margin: 30px 20px;
    align-self: flex-start;
}

.sono{
    font-family: sono;
}

.self_c{
    align-self: center;
}

.form{
    margin: 5vh 0;
    margin-bottom: 15vh;
    color: white;
    background-color: lightblue;
    font-size: 30px;
    padding: 2vh;
    text-align: center;
}

.form:hover{
    color: lightblue;
    border: 1px solid lightblue;
    background-color: rgba(255, 255, 255, 0);
}

.data{
    font-size: 40px;
}

.present, .activities{
    padding-top: 2.5vh;
    height: 50vh;
    width: 50vw;
    border-top: 1px dotted tan;
    font-family: sono;
}

@media screen and (max-width: 900px) {



    .main{
        max-width: 85vw;
    }

    .title{
      font-size: 15vw;
    }

    .form{
        width: 60vw;
        font-size: 25px;
    }

}